In [31]:
print(spam['1'].iloc[0])  # texte du premier message
print(spam['0'].iloc[0])  # label du premier message (0 ou 1)

Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
0

In [30]:
print(spam['0'].value_counts())

0
0    83
1    17
Name: count, dtype: int64

In [28]:
print("Train Accuracy:", accuracy_score(y_train, train_pred))
print("Test Accuracy:", accuracy_score(y_test, test_pred))

Train Accuracy: 0.9125
Test Accuracy: 0.95

In [27]:
train_pred = model.predict(X_train)
test_pred = model.predict(X_test)

In [23]:
model = MultinomialNB()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [32]:
vectorizer = TfidfVectorizer(stop_words='english')
X = vectorizer.fit_transform(spam['1'])
y = spam['0']

In [15]:
spam.head(100)

    0                                                  1
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...
.. ..                                                ...
95  1  Your free ringtone is waiting to be collected....
96  0                  Watching telugu movie..wat abt u?
97  0  i see. When we finish we have loads of loans t...
98  0  Hi. Wk been ok - on hols now! Yes on for a bit...
99  0                    I see a cup of coffee animation

[100 rows x 2 columns]

In [14]:
spam['0'] = spam["0"].map({"ham": 0, "spam": 1})

In [13]:
spam.isnull().sum()

0    0
1    0
dtype: int64

In [12]:
spam = spam.drop(columns = 'index', axis = 1)

In [11]:
spam.head()

   index     0                                                  1
0      0   ham  Go until jurong point, crazy.. Available only ...
1      1   ham                      Ok lar... Joking wif u oni...
2      2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      3   ham  U dun say so early hor... U c already then say...
4      4   ham  Nah I don't think he goes to usf, he lives aro...

In [10]:
spam = pd.read_csv('SMS.csv')

In [21]:
import pandas as pd 
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report